<html xmlns="http://www.w3.org/1999/xhtml">
@model EmployeeManagement.ViewModels.HomeDetailsViewModel
<head>
    <title></title>
</head>
<body>
    <h1>@Model.PageTitle</h1>

    <h3>
        @Model.Employee.Name

        @Model.Employee.Email

        @Model.Employee.Department
    </h3>
</body>
</html>

