
@model IEnumerable<EmployeeManagement.Models.Employee>
<h2>Index</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Id</td>
            <td>@e.Name</td>
            <td>@e.Email</td>
            <td>@e.Department</td>
        </tr>
    }

</table>

